
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #493f32;
}
.comment .comment-arrow {
  border-color: #ffffff;
}

#page{
  background: #ffffff;
}

#main-menu-links{
  background:#EE743C;
}

#main-menu-links li a.active,
#main-menu-links li.active-trail a{
  
}


.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header {
  /*
  background-color: #48a9e4;
  background-image: -moz-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: -ms-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: -o-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0779bf), color-stop(1, #48a9e4));
  background-image: -webkit-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  */
}
a {
  color: #788855;
  text-decoration: underline;
}
.a:hover{
  color: #788855;
}
.sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}


#footer-wrapper {
  background: #e2dfd8;
  border-top:1px solid #d6d3cc;
  color:#94958f;
}

#footer-wrapper h2{
  color:#493f32;
}

#footer-wrapper a{
  color: #788855;
  text-decoration: none;
}

.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #000000;
}

.node-product-image,
.product-add-to-cart-form{
  background:#F8F6F0;
}
